<section class="fStyle">
  <div class="container-fluid">
    <div class="row firstspace">

      <div class="col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1 "></div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 ">
        <div>
          <div class="img-fluid oraclelogo">
            <img src="/images/footer/white_logo.png" alt="Oracle White Logo" width="100%" height="auto">
          </div>
        </div>
      </div>

      <div class="test col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1 "><br class="br-footer"></div>

      <div class="col-12 col-sm-12 col-md-5 col-lg-2 col-xl-2  ">
        <ul class="eventlist">
          <li class="contenttitle"><b>Events</b></li>

          <li class="Footer-links"><a href="https://uomoracleclub.org/events/view/61a1d27d6207119bc9b6bea2">Competition</a>
          </li>
          <li class="Footer-links"><a href="https://uomoracleclub.org/events/view/61a10e466207119bc9b6bc7b">Outing</a></li>
          <li class="Footer-links"><a href="https://uomoracleclub.org/events/view/61a10963a4439c31eb3aaaff">Seminars</a></li>
        </ul>
      </div>

      <div class="col-12 col-sm-12 col-md-7 col-lg-2 col-xl-2 ">

        <ul class=" latestpostlist">
          <li class="contenttitle"><b>Latest Posts</b></li>
          <li class="Footer-links"><a href="https://uomoracleclub.org/blogs/view/61a1328d6207119bc9b6bdef">Human Evolution</a>
          </li>
          <li class="Footer-links"><a href="https://uomoracleclub.org/blogs/view/61c355e04ed507761d2d97d4">Reading is
              Important</a></li>
          <!-- <li class="Footer-links"><a href="https://uomoracleclub.org/blogs/view/61a1328d6207119bc9b6bdef">Resources</a></li> -->
        </ul>

      </div>

      <div class="col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3 ">

        <ul class="gitlist">
          <li class="contenttitle"><b>Get In Touch</b></li>
          <li class="Footer-links">

            <!-- <span style="font-weight: 600;">Address</span>  -->
            <br class="br-footer mt-1">
            <a href="#">University of Mauritius,
              <br class="br-footer">Reduit, Mauritius</a>
          </li>
          <li class="Footer-links">+230 59014728</li>
          <li class="Footer-links">+230 59189947</li>
          <li class="socialmeds">

            <a href="https://www.facebook.com/UOMOracleClub">
              <div class="facebookfront">
                <div class="facebookfill">
                  <img class="img-fluid facebookhover" src="/images/footer/facebook hover.png" alt="facebookhover" width="50%">
                  <img class="img-fluid facebookicon" src="/images/footer/facebook (2).png" alt="facebook" width="50%">
                </div>
              </div>
            </a>

            <a href="https://www.instagram.com/oracle_club_uom/">
              <div class="instagramfront">
                <div class="instagramfill">
                  <img class="img-fluid instahover" src="/images/footer/instagram hover.png" alt="instagramhover" width="50%">
                  <img class="img-fluid instaicon" src="/images/footer/instagram (2).png" alt="instagram" width="50%">
                </div>
              </div>
            </a>

            <a href="https://www.linkedin.com/company/uom-oracle-club/">
              <div class="linkedinfront">
                <div class="linkedinfill">
                  <img class="img-fluid linkedhover" src="/images/footer/linkedin hover.png" alt="linkedinhover" width="43%">
                  <img class="img-fluid linkedicon" src="/images/footer/linkedin (1).png" alt="linkedin" width="43%">
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-sm-12 col-md-7 col-lg-1 col-xl-1 "></div>

    </div>
  </div>

  <div class="container-fluid">
    <div class="row dividerspace">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
        <div class="dividerbar"></div>
      </div>
    </div>
  </div>

  <!--Divider End-->

  <!--Privacy policy and copyright Start-->

  <div class="container-fluid">
    <div class="row lastspace">

      <div class="col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1 col-xxl-1 "></div>

      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2 ">
        <div class="copyr">
          <p>@UoM Oracle Club 2021. All Right Reserved.</p>
        </div>
      </div>

      <div class="col-sm-5 col-md-4 col-lg-5 col-xl-2 col-xxl-2 ">
        <div class="privacyp">
          <p><a href="/privacy">Privacy policy</a></p>
        </div>
      </div>


      <!-- <div class=" col-12 col-sm-1 col-md-4 col-lg-3 col-xl-6 col-xxl-7 "></div> -->

    </div>
  </div>
</section>

<!-- js navbar -->
<script type="text/javascript" src="/js/navbar.js"></script>