<header id="main-menu">
  <div class="logo-area">
    <a href=""><img class="logo" src="http://beta.uomoracleclub.com/images/navbar/logo.png"></a>
    <a href=""><img class="caption" src="http://beta.uomoracleclub.com/images/navbar/logocaption.png"></a>
    <link rel="stylesheet" type="text/css" href="http://beta.uomoracleclub.com/css/updatednavbar.css">
    <link rel="stylesheet" href="http://beta.uomoracleclub.com/css/Footer.css" />

  </div>
  <div class="inner-main-menu">
    <ul class="links">
      <li><a href="#" class="menu">Home</a></li>
      <li><a href="#" class="menu">Our Club</a></li>
      <li></li>
      <li><a href="#" class="menu">Events</a></li>
      <li><a href="#" class="menu">Blog</a></li>
      <li><a href="#" class="register">Join Us</a></li>
    </ul>
  </div>
  <div class="hamburger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</header>