doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // meta tags later for SEO
  title UoM Oracle Club 
  meta(name='author' content='UoM Oracle Club')
  meta(name='description' content='The UoM Oracle Club is a club stemming from the Faculty of Information Communication and Digital Technologies whose aim is to work in \
  proximity with the industry to leverage learning and development opportunities  and acquire knowledge and exposure to enhance employability and innovation potential.')
  meta(name='keywords' content='University of Mauritius, Faculty of Information Communication & Digital Technologies, UoM Oracle club, Oracle Corp, Oracle Cloud, website development,\
  computer science, software Engineering, applied computing, information systems, uom calender, register oracle\
  creative, modern, talks, workshops, competitons, teamwork, fun activities, reduit, powa, uom campus, phase 2, drama festival, front end battle, mauritius\
  technologies, oracle developer groups')
  // favicon
  link(rel='icon' href='/images/logo/new2.ico' type='image/x-icon')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/plugins/themify/css/themify-icons.css')
  // external css
  link(rel='stylesheet' type='text/css' href='css/updatednavbar.css')
  link(rel='stylesheet' href='css/h-homepage.css')
  // <link rel="stylesheet" href="css/h-slider.css">
  link(rel='stylesheet' href='css/h-services.css')
  link(rel='stylesheet' href='css/h-testimonial.css')
  link(rel='stylesheet' href='css/hBgEvent.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
  link(rel='stylesheet' href='css/blog.css')
  // <link rel="stylesheet" href="assets/style/Footer.css" />
  // bootstrap
