
/*  servicesmain -------------------------------------------------------- */
* {
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 900px) {
    .first-page{
        height:auto;
    }
}

.services {
    /* background-color: #22272a; */
    /* background: linear-gradient(-45deg, #516ab8, #438cdf,  #794bb7, #516ab8); */
    /* background-image:  linear-gradient(186deg, rgba(4,9,30,0.7) 10%, #000000ec 46%, #261633 80%),url("../images/backgrounds/backgroundDark_reversed.jpg"); */
    background: url(../images/backgrounds/backgroundDark_reversed.jpg) no-repeat center; 
    /* background: url(/assets/images/backgrounds/backgroundDark.png) no-repeat center; */
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    
    z-index: 0;
    position: relative;
    /* transform: rotate(180deg); */
}

.text-purple {
    color: #7437ff;
    font-size: 1.1rem;
}

.s-image {
    border-radius: 20px;
    width: 100px;
    height: 50px;
}

.services .heading {
    font-size: 2.8rem;
    margin: 20px 0px;
    font-family: 'Lexend', sans-serif;
}

.services p {
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.7rem;
}

@media screen and (max-width: 1024px) {

    .services .heading {
        font-size: 2.4rem;
        margin: 0px;
    }

    .services .py-3 {
        font-size: 2.0rem;
    }

    .services p {
        font-size: 1.0rem;
        line-height: 1.4rem;
    }
}

@media screen and (max-width: 768px) {

    .image {
        height: 150px;
    }

    .services .pb-5 {
        font-size: 2.0rem;
    }

    .services .py-3 {
        font-size: 1.6rem;
    }

    .services p {
        font-size: 0.9rem;
    }

    .services .col-12 {
        padding: 0px 15px !important;
    }

  }

  @media screen and (max-width: 425px) {

    .image {
        height: 200px;
    }

    .services .row {
        margin: 0px 10px;
    }

    .services .col-12 {
        margin: 10px 0px;
    }

    .image {
        margin: 10px 0px;
    }

  }

  @media screen and (max-width: 320px) {

    .services .pb-5 {
        font-size: 1.7rem;
    }

    .services .py-3 {
        font-size: 1.5rem;
    }

    .services p {
        font-size: 0.85rem;
    }

  }
/*  servicesmain  -------------------------------------------------------- */