/*-------------------------Styling-------------------------*/
*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: 'Roboto', sans-serif;
}

header{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;
    z-index: 100000;
}

header.sticky{
    transition: 1s;
    background: #090d19bd; 
    backdrop-filter: blur(6px);
    box-shadow: 0 0 2px #794bb7,
                0 0 4px #794bb7,
                0 0 6px #794bb7,
                0 0 8px #794bb7,
                0 0 10px #794bb7;
}

.inner-main-menu{
    width: 100%;
}

.inner-main-menu ul{
    transition: 1s;
    padding: 40px;
    list-style: none;
    text-align: right;
}

header.sticky .inner-main-menu ul{
    transition: 1s;
    padding: 20px !important;
}

.inner-main-menu ul li{
    float: none;
    display: inline-block;
}

.inner-main-menu ul li:nth-child(1){
    float: left;
    margin-left: 12%;
}

.inner-main-menu ul li:nth-child(2){
    float: left;
}

.inner-main-menu ul li:nth-child(3){
    float: left;
}

.inner-main-menu ul li:nth-child(6){
    margin-right: 9%;
}

.inner-main-menu ul li .menu{
    /* XXX */
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-left: 30px;
}

.inner-main-menu ul .register{
    /* XXX */
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    margin-left: 30px;
    background: #794bb7;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}

.inner-main-menu ul .register:hover{
    color: #fff;
    background: #8c52ff;
    box-shadow: 0 0 2px #794bb7,
                0 0 4px #794bb7,
                0 0 6px #794bb7,
                0 0 8px #794bb7,
                0 0 10px #794bb7;
}

.inner-main-menu ul li .menu::after{
    content: "";
    display: block;
    width: 0;
    height: 1.5px;
    margin-top: 8px;
    background: #794bb7;
    transition: width .3s;
}

.inner-main-menu ul li .menu:hover::after{
    width: 100%;
    transition: width .3s;
    box-shadow: 0 0 2px #794bb7,
                0 0 4px #794bb7,
                0 0 6px #794bb7,
                0 0 8px #794bb7,
                0 0 10px #794bb7;
}

.inner-main-menu ul li a:hover{
    color: #8c52ff;
    text-shadow: 0 0 1px #794bb7,
                 0 0 3px #794bb7,
                 0 0 5px #794bb7,
                 0 0 7px #794bb7,
                 0 0 9px #794bb7;
}

.logo-area{
    transition: transform .5s ease-in;
    position: absolute;
    top: 0;
    text-align: center;
    width: 160px;
    height: 115px;
}

.logo-area .caption{
    animation: coolStuff 0.5s linear;
}

@keyframes coolStuff {
    /* 0%  {
        opacity: 0;}
    50% {
        opacity: .5;}
    100%    {
        opacity: 1;} */

    0% {
        transform: scale(0.5, 0.5);
    }
    100%{
        transform: scale(1, 1);
    }
}

.logo-area:hover{
    transform: rotateY(360deg);
   
}




.logo{
    width: 100px;
    height: 90px;
}

.caption{
    transition: 1s;
    width: 160px;
    height: 30px;
}

header.sticky .caption{
    opacity: 0;
    transition: 1s;
}

.hamburger{
    margin-right: 50px;
    display: none;
    cursor: pointer;
}

.hamburger div{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

input{
    display: none;
}

/*-------------------------Responsiveness 1024px-------------------------*/
@media screen and (max-width: 1024px) {
    .inner-main-menu ul li:nth-child(1){
        margin-left: 4%;
    }
    
    .inner-main-menu ul li:nth-child(6){
        margin-right: 1%;
    }

    header.sticky .inner-main-menu ul{
        padding: 25px;
    }
}

/*-------------------------Responsiveness 768px-------------------------*/
@media screen and (max-width: 768px){
    .hamburger{
        margin-right: 20px;
        padding: 40px;
        padding-right: 2%;
        display: block;
    }
    
    header.sticky .hamburger{
        margin-right: 25px;
        padding: 35px;
    }

    .links{
        /* XXX */
        position: absolute;
        right: 0px;
        height: inherit;
        top: 125px;
        background-color: #090d19e8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 2%;
        transform: translateX(100%);
        transition: transform 1s ease-in;
    }

    header.sticky .links{
        top: 110px;
    }

    .inner-main-menu ul li:nth-child(1){
        margin-left: 0px;
    }

    .inner-main-menu ul li:nth-child(6){
        margin-bottom: 10px;
        margin-right: 0px;
    }

    .inner-main-menu ul li{
        opacity: 0;
    }

    .inner-main-menu ul li .menu{
        margin-bottom: 25px;
        margin-left: 0px;
    }

    .inner-main-menu ul .register{
        font-size: 14px;
        margin-left: 10px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFadeIn{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/*-------------------------Responsiveness 375px-------------------------*/
@media screen and (max-width: 380px){
    .hamburger{
        margin-right: 20px;
        padding: 25px 0px;
        display: block;
    }
    
    header.sticky .hamburger{
        margin-right: 20px;
        padding: 35px 0px;
    }

    .links{
        top: 85px;
    }

    header.sticky .links{
        top: 110px;
    }

    .inner-main-menu ul li .menu{
        font-size: 14px;
        margin-left: 0px;
    }
    
    .inner-main-menu ul .register{
        font-size: 14px;
        margin-left: 10px;
    }
}